<navigation></navigation>
<div>
  <div class="container">
   <div class=" row" style=" display: flex; justify-content: center; align-items: center; ">
    <div class="col-md-4" style="background-color: #E9EEF2; border-radius: 8px; margin-top: 150px">
      <div class=" mt-4">
        <div  style="color: #33568F;">
          <h2 class="card-title mt-2" style="text-align: center">Bus info</h2>
        </div>
        <article class="card-body">
           <form ng-submit="vm.getInfo()" role="form">
                <div class="form-group">
                  <input ng-model="vm.busNum" placeholder="Bus number" class="form-control">
                </div>
                <div class="form-group" id="dugme">
                  <button class="btn btn-primary btn-block" type="submit">Get bus info</button>
                </div>
              </form>
        </article>
      </div>
    </div>
  </div>
</div>
<br>
<div class="container" ng-repeat = "station in vm.data.info.stations" id="bus lines">
  <h1 align = "center">{{station.name}}</h1>
  <table class="table table-striped table-bordered table-light" ng-show="station.buses.length > 0">
      <thead>
        <tr>
          <th>Direction</th>
          <th>Number</th>
          <th>Arrivals</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "bus in station.buses">
          <td>{{bus.direction}}</td>
          <td>{{bus.number}}</td>
          <td>
            <span ng-repeat = "arrival in bus.arrivals">{{arrival}}, </span>
          </td>
        </tr>
      </tbody>
    </table> 
    
     <table class="table table-striped table-bordered table-light" ng-hide="station.buses.length > 0">
      <thead>
        <tr>
          <th width = "100%">No info about buses.</th>
        </tr>
      </thead>
    </table>
</div>
 
</div>