<navigation></navigation>
  <div>
    <div class="container">
     <div class=" row" style=" display: flex; justify-content: center; align-items: center; ">
      <div class="col" style="background-color: #E9EEF2; border-radius: 8px; margin-top: 150px">
        <div class="">
          <div  style="color: #33568F;">
            <h2 class="card-text mt-2 align-middle" style="text-align: center; margin-bottom: 8px">{{vm.text}}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>