
    <navigation></navigation>
    <div>
      <div class="container">
       <div class=" row" style=" display: flex; justify-content: center; align-items: center; ">
        <div class="col-md-4" style="background-color: #E9EEF2; border-radius: 8px; margin-top: 150px">
          <div class=" mt-4">
            <div  style="color: #33568F;">
              <h2 class="card-title mt-2" style="text-align: center">Login</h2>
            </div>
            <article class="card-body">
              <form ng-submit="vm.sendLoginData()" role="form">
                <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
                <div class="form-group">
                  <input ng-model="vm.loginData.uname" id="email" placeholder="E-mail" class="form-control" type="email" maxlength="30">
                </div>
                <div class="form-group">
                  <input ng-model="vm.loginData.pword" id="pass" placeholder="Password" class="form-control"type="password" maxlength="30">
                </div>
                <div class="form-group" id="loginButton">
                  <button class="btn btn-primary btn-block"  type="submit">Login</button>
                </div>
              </form>
            </article>
          </div>
        </div>
      </div>
    </div>
  </div>

