<navigation></navigation>
<div class="container">
  <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
  <div class="row" style="display: flex; justify-content: center; align-items: center; background-color: #E9EEF2; padding-top: 15px; padding-bottom: 15px; border-radius: 8px; margin-top: 50px; ">
    <div class="col">
        <iframe width="700" height="500" class="embed-responsive-item" frameborder="0" ng-src={{vm.url}}></iframe>
    </div>
    
    <div class="col sticky-top">
      <div class="panel-body ">
        <ul class="list-group">
          <li  ng-repeat="location in vm.locationList | formatDistance " ng-click="vm.selectLocation(location) "class="list-group-item" style="cursor: pointer;"><strong>{{location.name}}</strong> ({{location.dist}})</li>
        </ul>
    </div>
      <form>
        <h4>Info:</h4>
        <textarea  rows="6" class="form-control" name="message">{{vm.extraInfo}}</textarea>
      </form>
    </div>
  </div>
</div>