<div class="modal-content">
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class=" w-75" padding="" top="500px">
        <h6 class="display-4">TODO edit</h6>
        <hr/>
        <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
        <form class="form-horizontal" role="form">
          <div class="form-group" id="editTODOsTitle">
            <label>Title</label>
            <input type="text" class="form-control" id="editTODOTitle" ng-model="vm.data.title" placeholder="{{todoDet.title}}">
          </div>
          <div class="form-group" id="editTODOsDescription">
            <label for="exampleTextarea">Description</label>
            <textarea class="form-control" id="editTODODescription" ng-model="vm.data.desc" rows="3">vm.dis.desc</textarea>
          </div>
        </form>
        <hr/>
        <div class="row">
          <div class="col-auto">
            <button ng-click="vm.modalWin.close()" type="button" class="btn btn-secondary ">Close</button>
          </div>
          <div class="col-auto">
            <button ng-click="vm.editData()" type="button" id="editTODOButton"  class="btn btn-primary ">Save</button>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>