<navigation></navigation>
  
<body style="background-color: #90AAC3;">
  <div style="margin-top: 20px;" class="container">
    <table class="table table-striped table-bordered table-light">
      <thead>
        <tr>
          <th>Notification</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat = "notification in vm.data.notifications">
          <td width ="70%">{{notification.notification}}</td>
          <td>{{notification.date}}</td>
        </tr>
      </tbody>
    </table>  
  </div>
  <div class="text-center">
  <button type="button" ng-show="vm.isCurrentUserAdmin" class="btn btn-danger btn-lg" ng-click="vm.showNotificationModal()">New notification</button>
  <div role="alert" ng-hide="vm.isCurrentUserAdmin" class="alert alert-danger">You need to have admin access to be able to modify the notifications.</div>
  <button type="button" id="Clear notification" ng-show="vm.isCurrentUserAdmin" class="btn btn-danger btn-lg" ng-click="vm.clear()">Clear notifications</button>
  <div role="alert" ng-show="vm.message" class="alert alert-danger">{{ vm.currentUserStatus }}</div>
</div>