<div class="modal-content">
  <div class="modal-body">
    <div class="row justify-content-center">
      <div class=" w-75" padding="" top="500px">
        <h6 class="display-4">Timetable</h6>
        <hr/>
        <div role="alert" ng-show="vm.error" class="alert alert-danger">{{ vm.error }}</div>
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label>Name</label>
            <input type="text" class="form-control" ng-model="vm.data.name" placeholder="Enter name">
          </div>
          <div class="form-group">
            <label>Duration</label>
            <input type="number" min="1" max="7" class="form-control" ng-model="vm.data.duration" placeholder="Enter duration 1-7">
          </div>
          <div class="form-group">
            <label>Colour</label>
             <input class="form-control" type="color" value="#563d7c" ng-model="vm.data.colour">
          </div>
        </form>
        <hr/>
        <div class="row">
          <div class="col-auto">
            <button ng-click="vm.modalWin.close()" type="button" class="btn btn-secondary ">Close</button>
          </div>
          <div class="col-auto">
            <button ng-click="vm.sendData()" type="button" class="btn btn-primary ">Save</button>
          </div>
          <div class="col-auto">
            <button ng-click="vm.deleteData()" type="button" class="btn btn-danger ">Delete</button>
          </div>    
        </div>
      </div>
    </div>
  </div>
</div>